---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sanityClient } from 'sanity:client';
import { slugifyLocation } from '../../lib/utils';

export async function getStaticPaths() {
  const query = `*[_type == "event" && !(_id in path("drafts.**"))]{
    "location": location,
  }`;

  const events = await sanityClient.fetch(query);

  const locations = [...new Set(events.map(event => event.location))];

  return locations.map(location => ({
    params: { locationSlug: slugifyLocation(location) },
    props: { location },
  }));
}

const { locationSlug } = Astro.params;
const { location } = Astro.props;

const query = `*[_type == "event" && location == $location && !(_id in path("drafts.**"))]{
  ...,
  "slug": slug.current
}`;

const events = await sanityClient.fetch(query, { location });
---

<BaseLayout title={`Events in ${location}`}>
  <div class="container">
    <h1>Events in {location}</h1>
    <ul>
      {events.map(event => (
        <li>
          <a href={`/find-local-chess/${locationSlug}/events/${event.slug}`}>{event.title}</a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>