---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { slugifyLocation } from '../../../lib/utils';

export async function getStaticPaths() {
  const allEvents = await getCollection('events');
  const locations = [...new Set(allEvents.filter(event => event.data.location).map(event => event.data.location))];

  return locations.map((location) => ({
    params: { locationSlug: slugifyLocation(location) },
    props: { location },
  }));
}

const { locationSlug } = Astro.params;
const { location } = Astro.props;

const allEvents = await getCollection('events');
const locationEvents = allEvents.filter(event => event.data.location === location);

// Group events by day of the week
const eventsByDay: Record<string, CollectionEntry<"events">[]> = locationEvents.reduce((acc: Record<string, CollectionEntry<"events">[]>, event) => {
  const day = event.data.dayOfWeek;
  if (!acc[day]) {
    acc[day] = [];
  }
  acc[day].push(event);
  return acc;
}, {});

const daysOrder = [
  'Monday',
  'Tuesday',
  'Wednesday',
  'Thursday',
  'Friday',
  'Saturday',
  'Sunday',
];

const sortedDays = Object.keys(eventsByDay).sort(
  (a, b) => daysOrder.indexOf(a) - daysOrder.indexOf(b)
);
---

<BaseLayout title={`Chess Events in ${location}`}>
  <div>
    <section>
      <h1>Events in {location}</h1>
      
      <div>
        {sortedDays.map(day => (
          <section>
            <h2>{day}</h2>
            <div>
              {eventsByDay[day].map((event) => (
                <a href={`/find-local-chess/${slugifyLocation(location)}/events/${event.slug.split('/').slice(1).join('/')}`}>
                  <h3>{event.data.title}</h3>
                  <p>{event.data.dayOfWeek}</p>
                  <p>{event.data.venue}</p>
                </a>
              ))}
            </div>
          </section>
        ))}
      </div>
    </section>
  </div>
</BaseLayout>